.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50% !important;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.spotifybtn {
  background: #1ecd97;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  color: white;
  font-weight: bold;

  margin: 0 auto;
  display: block;
}

.spotifybtn:hover {
  color: white;
  text-decoration: none;
}

.player-wrapper {
  width: 100%;
}

.login-wrapper {
  width: 100%;
  height: 360px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotify-wrapper {
  width: 100%;
  height: 360px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cursor-pointer {
  cursor: pointer;
}
